.nav ul{
    background-image:linear-gradient(to bottom right, #1d2a54,#23212b);
}
.nav ul li{
    display: inline;
    float: left;
    padding:10px 50px;
    background:#232a52;
}
.nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    text-align: center;
}
.nav ul li a:link{
    color:#fff;
    text-decoration:none;
}