.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.header{
    background-color: #e3e4e5;
    color: #999;
    height: 40px;
    line-height: 40px;
    position: fixed;
    width: 100%;
}
.header .topnav>li{
    float: left;
    margin: 0 20px;
    width: 150px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}
.header .topnav>li:hover{
    background-color: white;
    border: 2px solid #fff;
    border-bottom: none;
    line-height: 36px;
}
.header .topnav>li .submenu{
    text-align: left;
    line-height: 1.5;
    width: 300px;
    /*不生成盒子*/
    display: none;
    border: 2px solid #fff;
    box-sizing: border-box;
    position: absolute;
    right: -2px;
}
header .topnav>li:hover .submenu{
    display: block;
}
header .topnav>li:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}