.NavigationBar ul li{
    display: inline-block;
    list-style: none;
    line-height:58px;
    padding:0 20px;
    height:58px;
}
.NavigationBar ul li a {
    display: inline-block;
    color:black;
    text-decoration: none;
    font-size:18px;
    height:55px;
    text-align: center;
}
.NavigationBar ul a:hover {
    border-bottom: 1px solid #469de2;
}
.NavigationBar ul .Contribute a{
    color:#f8fcfe;
    font-size:30px;
    padding:0 30px;
}
.NavigationBar .Contribute{
    background-color:#53b5e8;
}

.tubiao{
    display:inline-block;width:30px;height:30px;margin:0 auto;vertical-align:middle; margin-right: 600px
}